<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Main</title>
<base target="_blank">
</head>
<body>
  <div>[[${#httpServletRequest.remoteUser}]]</div>
  <div>
    <ul class="menu">
      <li class="menu-item"><a href="list-files">List files</a></li>
      <li class="menu-item"><a href="upload">Upload file form</a></li>
      <li class="menu-item"><a href="list-jobs">List jobs</a></li>
      <li class="menu-item"><a href="register-form">Register a job</a></li>
      <li class="menu-item"><a href="list-sections">List sections</a></li>
      <li class="menu-item"><a href="search-form">Search sections</a></li>
    </ul>
  </div>
  <div>
    <form th:action="@{/logout}" method="post" target="_self">
      <input type="submit" value="Sign Out" />
    </form>
  </div>
</body>
</html>