<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Upload</title>
</head>
<body>
  <div>
    <form method="POST" th:action="search-sections">
      <table>
        <tr>
          <td>Key value for name or code:</td>
          <td>
            <input type="text" name="key" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Search" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>