<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Upload</title>
</head>
<body>
  <div>
    <form method="POST" enctype="multipart/form-data"
      th:action="@{/uploadfile(${_csrf.parameterName}=${_csrf.token})}">
      <table>
        <tr>
          <td>File to upload:</td>
          <td>
            <input type="file" name="file" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Upload" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>